// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme

@import '~nativescript-theme-core/scss/lemon';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling


@import './styles/padding-margin.scss';
@import './styles/typography.scss';
@import './styles/font-awesome.css';


.form-control {
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border-width: 1;
  border-color: #ced4da;
  border-radius: 2;
  width: 80%;
  text-align: center;
}

.border-radius-1 {
  border-radius: 10;
}

.border-radius-2 {
  border-radius: 20;
}

.border-radius-3 {
  border-radius: 30;
}

.bg-fun {
  background: linear-gradient(to right, #497dff, $purple);
}

.btn-fun {
  background: linear-gradient(to right, #497dff, $purple);
  width: 250;
  border-radius: 25;
  border-width: 0;
  color: #ededed;
  padding: 15;
  font-weight: 900;
}

.btn-sm {
  width: 100;
  border-radius: 25;
  border-width: 0;
  padding: 5;
  margin: 5;
}


.card {
  border-radius: 30;
  padding: 30;
}

.bg-dark {
  background-color: #2b314d;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #4db753
}

.text-secondary {
  color: #497dff
}

.text-info {
  color: #c60097
}

.text-danger {
  color: #d1484f;
}

.text-light {
  color: #ededed;
}

.hatch {
  color: #fcc944;
}

.cargo {
  color: #ff8c3f;
}

.small {
  font-size: 12;
}

.status {
  font-size: 18;
  font-weight: 700;
  padding: 10;
}

.label {
  color: #ededed;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14;
  margin-bottom: 5
}

.input {
  color: #ededed;
  placeholder-color: #6f7583;
  border-color: #ededed;
  border-bottom-width: 2;
  padding: 2;
}

.text-monospace {
  font-family: monospace;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


.blue-alliance {
  background-color: #497dff;
  border-radius: 25;
  border-width: 0;
  padding: 1;
  margin: 5;
  color: #ededed;
  font-family: monospace;
  text-align: center;
  font-weight: 900;
  width: auto;

}

.red-alliance {
  background-color: #d1484f;
  border-radius: 25;
  border-width: 0;
  padding: 1;
  margin: 5;
  color: #ededed;
  font-family: monospace;
  text-align: center;
  font-weight: 900;
  width: auto;

}
